 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
       <div class="container">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                   Menu <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand page-scroll" href="#header">
                   <i class="fa fa-play-circle"></i> <span class="light"style="color:#B99867; font-family: 'Electrolize', sans-serif; cursive; font-size:40px"><b>Book shop</b></span>
               </a>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
               <ul class="nav navbar-nav">
                   <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                   <li class="hidden">
                       <a href="#page-top"></a>
                   </li>
                   <!--<li>-->
                       <!--<a class="page-scroll" href="#header" style="font-family: 'Electrolize', sans-serif;font-size: 20px"><span class="ol">Home</span></a>-->
                   <!--</li>-->

                   <li>
                       <a class="page-scroll" href="#shop"  style="font-family: 'Electrolize', sans-serif;font-size: 20px"><span class="ol">Horror</span></a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#contact"  style="font-family: 'Electrolize', sans-serif;font-size: 20px"><span class="ol">Romance</span></a>
                   </li>
                   <li>
                       <a class="page-scroll" href="#blog"  style="font-family: 'Electrolize', sans-serif;font-size: 20px"><span class="ol">Mystery</span></a>
                   </li>
               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>